
#header { background-color: #FFFFFF }
/* CSS related to the main content wrapper of the page */
#main_wrapper { background-color: white; }
#main_wrapper_results { background-color: white; }

.generic_header { background-color: rgb(92,198,175); }
.general_header { background-color: rgb(47,170,204); }
.filtering_wrapper { border: solid 1px rgb(0,170,200); }
#cartoon_doctor_img { position: relative; z-index:2;left:810px; top:-195px}
#sub_main_wrapper_results { background-color: #FFFFFF; }
#search_bar_wrapper2 { border: 15px solid rgb(211,236,240); }
#search_button2 { background: rgb(47, 170, 204); color: white; }


/* CSS related to our goal */
#our_goal { color: rgb(48,168,205); font-size: 40px; width: 1200px;  }

/* CSS related to the navbar */
#navbar { background-color: rgb(0,201,171); }
#sub_navbar { color: white; }
#sub_navbar a:hover { background-color:rgb(0,175,142); }

#homelink { background:rgb(0,175,142) }

#subnavbar a:active { color: white; text-decoration: none; }
#pipe { color: rgb(46,138,161); padding: 5px; }

/* CSS related to the search results information */
#result_info { color: rgb(81,36,18); }

/* CSS related to the general search section */
#general_search_section { background-color: white; border: 1px solid white; }
#general_header { background-color: rgb(47,170,204); color: white; }

/* CSS related to the recommended search section */
#recommended_section { background-color: white; border: 1px solid white; }
#recommended_header { background-color: rgb(92,198,175); color: white; }

/* CSS related to the search results */
#result_title { color: rgb(59,173,148); text-decoration: underline; font-weight: bold; }
#result_link { color: rgb(59,173,148); }
#result_snip { color: black; }
span #prev_page { color: rgb(45,170,202);}
span #next_page { color: rgb(45,170,202);}
#page { color: rgb(45,170,202)}
#page:link { color: rgb(45,170,202)}
#page:visited { color: rgb(45,170,202) }
#page:hover { color: rgb(46,138,161)}
#page:active { color: black}

/* CSS related to search bar form */
#search_text_box {border: 15px solid rgb(214,234,241); }
#search_button { background: rgb(57,147,148); color: white; }

/* CSS related to the footer*/
#footer_bar {background-color: rgb(58,172,147); color: white; }
