/* CSS related to the body of the page */
body { margin: 0px; font-family: 'Maven Pro', sans-serif; z-index:1 }

/* CSS realated to the main content wrapper of the page */
#main_wrapper { background-color: rgb(228,219,181); padding-top: 10px; min-height: 492px; /*max-height:1500px;min-width: 1225px;*/ width:100%;display:table; padding-bottom:100%;padding-left:auto;padding-right:auto; }
#main_wrapper_results { background-color: rgb(228,219,181); padding-top: 10px; min-height: 1400px; padding-bottom: 100px; /*overflow: hidden; height: 1400px;*/ }
#sub_main_wrapper_results { background-color: rgb(228,219,181); padding-top: 10px; }
#content_wrapper {/* margin-left:190px;*/ margin-left: auto; margin-right:auto; width:800px; padding-left:50px; }
#sub_content_wrapper { margin-left:0px;}

/* CSS related to our goal */
#our_goal { color: rgb(82,36,16); font-size: 19px; width: 600px; margin-bottom: 20px; margin-top:50px;font-weight: bold; }

/* CSS related to the header */
#headerimgdiv { margin-left:auto;margin-right:auto; width:800px}
#header { min-width:1225px; height: 120px; background-color: rgb(246,246,246); }
#view_switcher { position:absolute; right: 1%; padding-right:100px;top:50px; color:red; text-decoration: none; font-weight:bold }


/* CSS related to the navbar */
#navbar { min-width:1225px; background-color: rgb(171,5,26); /*padding-top: 10px; padding-bottom: 10px;*/ height: 25px; }
#sub_navbar { color: white; margin-left:auto;margin-right:auto;width:800px;}
#homelink { color: white; background:rgb(255, 27, 0); }
#sub_navbar a {color:white; text-decoration: none; padding-bottom:5px; padding-right: 10px; padding-left: 10px; }
#sub_navbar a:hover { background-color: rgb(225,50,47); color: white; text-decoration: none;cursor: pointer;  }
#sub_navbar a:active { color: white; text-decoration: none; }
#pipe { color: rgb(255,50,47); padding: 5px;}

/* CSS related to the search results information */
#result_info { text-align: center; color: rgb(81,36,18); font-size: 14px; width:250px;margin-left:auto;margin-right:auto;margin-top: 15px;margin-bottom:10px }

/* CSS related to the general search section */
.generic_background_section { background-color: white; border-radius: 10px; border: 1px solid white; padding: 10px; }
.general_search_section, #general_search_section { background-color: white; border-radius: 10px; border: 1px solid white; width: 985px; /*padding: 10px; position: absolute; top: 525px; left: 190px;*/ }
.result_wrapper {min-height:325px;max-height:450px;}
.general_search_section { width:700px; max-height:500px; position:relative }
.general_search_section button { position: absolute; bottom:20px; right:20px; }

.general_header { text-align: center; color: rgb(50,104,222); font-size: 30px; margin-bottom: 5px; }

/* CSS related to the recommended search section */
#recommended_section { background-color: white; border-radius: 10px; border: 1; width:100% ;width: 985px; padding: 10px; margin-bottom:20px }
.generic_header { background-color: rgb(0,99,233); text-align: center; font-size: 30px; margin-bottom: 5px; color: white; border-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; line-height:50px }
#recommended_header { 
	background-color: rgb(0,99,233); 
	text-align: center;
	font-size: 30px; 
	margin-bottom: 5px; 
	color: white; 
	border-radius: 10px; 
	margin-top: -11px; 
	margin-left: -11px; 
	margin-right: -11px; 
	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 0px; 
}
#empty_space { width:10px; }

/* CSS related to the search results */
#result { margin: 15px; }
#result_title { color: rgb(52,107,229); text-decoration: underline; font-weight: bold; }
#result_link { color: rgb(52,107,229); }
#result_snip { color: black; }
span #prev_page { color: rgb(171,5,25); margin: 10px; text-align: center; }
span #next_page { color: rgb(171,5,25); margin: 10px; text-align: center; }
#forward_back { text-align: center; padding-top: 20px;}
#page { color: rgb(171,5,25); margin: 2px; }
#page:link { color: rgb(171,5,25); margin: 2px; }
#page:visited { color: rgb(171,5,25); margin: 2px;  }
#page:hover { color: rgb(255,50,47); margin: 2px; }
#page:active { color: black; margin: 2px; }

/* CSS related to search bar form */
#search_bar_wrapper { position:relative; z-index:3;max-height:90px;width:500px }
#search_text_box { padding-left: 10px; border: 15px solid rgb(218,204,149); border-radius: 10px; width: 460px; height:50px }
#search_text_box:focus { outline: none; }
*:focus { outline: none; }
#search_button { padding: 5px 23px; border: 0 none; cursor: pointer; background: rgb(171,5,26); color: white; border-radius: 10px; font-size: 20px; float:right; margin-top:15px; margin-bottom:35px;   }
#search_button:hover { background-color: #ff322f; }
#searchbar {max-height:70px;}

/* CSS related to the main search basic page */
//#doctor_picture_div { position: absolute; top: 162px; padding-left: 575px; width:800px; margin-left: auto; margin-right:auto;display:none }
#cartoon_doctor_img { position: relative; z-index:2;left:575px; top:-175px}

/* CSS related to filtering interface */
.filtering_wrapper { background-color:white; display:inline-block; padding:5px, padding-bottom:10px;margin-bottom:20px; border-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; width:500px;display:none; font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif; font-weight: bold;  }
.filtering_wrapper td {color: rgb(52,107,229); font-size:150%;width:100%;padding-left:10px;padding-bottom:7px; padding-top:7px;  }

#toggler { padding:5px; padding-top: 20px; position:relative; right:0px; }
#toggler_link { position:relative; left:10px;cursor: pointer; text-align:right}
.left {width:500px; }                                 

/* CSS for general bar */
.generic_bar {margin-bottom:10px;}
.generic_bar ul { padding:0; margin:0; list-style-type:none}
.generic_bar ul li {display:inline}
.generic_bar ul li a {	float:left;	padding-right:15px;}
.generic_bar ul li a:hover {	color: rgb(171,5,26); }
.generic_bar a,.generic_bar span { color: rgb(200,0,0); text-decoration:none;font-size:175% }
            



/* CSS related to the footer*/
#footer_bar {background-color: rgb(171,5,25); margin-left: 0px; color: white; height: 50px; }
#centered_footer{width: 75%; margin: 0px auto; overflow: hidden; padding-top: 10px; }
#socialoutlets{display: inline; margin-right: 0px; float: right;}

/* div {border:solid 5px; } / /*for debugging */

.plusminus { float:right; }


.error { padding: 10px;font-size:24px}
